@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

body {
  background: hsl(237deg, 49%, 15%);
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
}

@media only screen and (min-width: 1366px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
#score-container {
  font-family: "Barlow Semi Condensed", sans-serif;
}
#score-container p {
  color: hsl(229deg, 64%, 46%);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#modal__btn {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  transition: color 75ms ease;
}
#modal__btn:hover {
  color: black;
}

#rules-modal h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

#game__phase__2 > div p {
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 21px;
}

#score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 12px 24px;
  border-radius: 8px;
}

.choice__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 127px;
  width: 129px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}
.choice__icon * {
  pointer-events: none;
}
.choice__icon__bg {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  position: absolute;
  background: white;
}
.choice__icon img {
  z-index: 1;
}

.rock-icon {
  background: radial-gradient(ellipse at top, hsl(349deg, 70%, 56%), hsl(349deg, 71%, 52%));
}

#rock {
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.paper-icon {
  background: radial-gradient(ellipse at top, hsl(230deg, 89%, 65%), hsl(230deg, 89%, 62%));
}

#paper {
  top: -70px;
  left: -70px;
}

.scissors-icon {
  background: radial-gradient(ellipse at top, hsl(40deg, 84%, 53%), hsl(39deg, 89%, 49%));
}

#scissors {
  top: -70px;
  right: -70px;
}

@media only screen and (min-width: 1366px) {
  .choice__icon {
    height: 203px;
    width: 198px;
  }
  #rock {
    bottom: -60px;
    left: 50%;
  }
  .rock-icon img {
    width: 65px;
    height: 65px;
  }
  #paper {
    top: -100px;
    left: -100px;
  }
  .paper-icon img {
    width: 65px;
    height: 75px;
  }
  #scissors {
    top: -100px;
    right: -100px;
  }
  .scissors-icon img {
    width: 65px;
    height: 72px;
  }
}
#modal__btn {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 32px;
}

@media only screen and (min-width: 1366px) {
  #modal__btn {
    left: auto;
    right: 35px;
    bottom: 35px;
    transform: none;
    cursor: pointer;
    transition: background 75ms ease;
  }
  #modal__btn:hover {
    background: white;
  }
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease, visibility 150ms ease;
}
#overlay.active {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (min-width: 1366px) {
  #overlay.active {
    opacity: 0.5;
    visibility: visible;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 307px;
  margin: 0 auto;
  border: 4px solid hsl(217deg, 16%, 45%);
  border-radius: 8px;
  padding: 24px 12px;
  margin-top: 45px;
}

@media only screen and (min-width: 1366px) {
  header {
    width: 696px;
  }
}
#game {
  position: relative;
  flex: 1;
}
#game__phase__1 {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 150ms ease, visibility 150ms ease;
}
#game__phase__1 #triangle {
  width: 180px;
  height: auto;
}
#game__phase__1.hidden {
  opacity: 0;
  visibility: hidden;
}
#game__phase__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 307px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 150ms ease, visibility 150ms ease;
}
#game__phase__2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#game__phase__2.show {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1366px) {
  #game__phase__1 #triangle {
    width: 313px;
    height: 278px;
  }
  #game__phase__2 {
    width: 800px;
  }
  #game__phase__2 div {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
#rules-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease, visibility 100ms ease;
}
#rules-modal.active {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1366px) {
  #rules-modal {
    width: 400px;
    height: 415px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }
  #rules-modal #rules-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 32px;
  }
  #rules-modal #rules-heading .close-modal {
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
