#house-choice-placeholder
{
    background: hsl(237, 49%, 15%);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: none;
    margin-bottom: 15px;
}

@media only screen and (min-width: 1366px)
{
    #house-choice-placeholder
    {
        display: none;
        height: 226px;
        width: 226px;
        // position: relative;
        // top: 30px;
        // right: 15px;
        margin-bottom: 0;
    }
}