@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import '../abstracts/colors';
$barlow: 'Barlow Semi Condensed', sans-serif;

#score-container
{
    font-family: $barlow;

    p
    {
        color: $score;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

#modal__btn
{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-family: $barlow;
    letter-spacing: 3px;
    font-weight: 600;
    transition: color 75ms ease;

    &:hover{
        color: black;
    }
}

#rules-modal
{
    h1
    {
        font-family: $barlow;
        text-transform: uppercase;
    }
}

#game__phase__2
{

    & > div
    {
        p
        {
            text-transform: uppercase;
            font-family: $barlow;
            color: white;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (min-width: 1366px)
{
    #game__phase__2
    {
        & > div
        {
            p{
                font-size: 21px;
            }
        }
    }
}